/* styles.css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(224, 208, 193);
}

.container{
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "header header"
    "sidebar content"
    "footer footer";
  min-height: 100vh;
}

header { 
  grid-area: header;
}

.sidebar { 
  grid-area: sidebar; 

}

.content { 
  grid-area: content; 
  padding: 20px; 
}
footer { 
  grid-area: footer;
  
}

#projectModal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(182, 170, 159, 0.5);
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  display: none;

}